/* 
* Reference: https://css-tricks.com/snippets/css/complete-guide-grid/
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 50px 40px;
}

h2 {
  color: #000;
}

.desc {
  padding-bottom: 30px;
}

.item {
  padding: 20px;
  background-color: rgb(112, 38, 251);
  color: #fff;
  font-size: 18px;
}

.item:nth-child(odd) {
  background-color: rgb(232, 7, 235);
}

.section-one {
  padding-bottom: 30px;
}

.section-one .container {
  display: grid;
  /* grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr; */
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(4, 2fr);
  gap: 5px;
}

.header,
.menu,
.content,
.footer {
  font-size: 20px;
  padding: 10px 15px;
  color: #fff;
}

.section-two .header {
  background-color: rgb(80, 192, 0);
}

.section-two .menu {
  background-color: rgb(223, 6, 6);
}

.section-two .content {
  background-color: rgb(33, 51, 248);
}

.section-two .footer {
  background-color: rgb(245 129 20);
}

.section-two .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
