/* 
* Reference: https://css-tricks.com/snippets/css/complete-guide-grid/
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 50px 40px;
}

h2 {
  color: #000;
}

.desc {
  padding-bottom: 30px;
}

.item {
  padding: 20px;
  background-color: rgb(112, 38, 251);
  color: #fff;
  font-size: 18px;
}

.item:nth-child(odd) {
  background-color: rgb(232, 7, 235);
}

.container {
  display: grid;
  /* grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr; */
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(4, 2fr);
  gap: 5px;
}
