/* 
* Reference: https://css-tricks.com/snippets/css/complete-guide-grid/
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 50px 40px;
}

h2 {
  color: #000;
}

.desc {
  padding-bottom: 30px;
}

.item {
  padding: 20px;
  background-color: rgb(112, 38, 251);
  color: #fff;
  font-size: 18px;
}

.item:nth-child(odd) {
  background-color: rgb(232, 7, 235);
}

.section-one {
  padding-bottom: 30px;
}

.section-one .container {
  display: grid;
  /* grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr; */
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(4, 2fr);
  gap: 5px;
}

.header,
.menu,
.content,
.footer {
  font-size: 20px;
  padding: 10px 15px;
  color: #fff;
}

.section-two .container {
  height: 500px;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-columns: repeat(12, 1fr); */
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "m m m c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.section-two .header {
  background-color: rgb(80, 192, 0);
  /* grid-column: 1 / -1; */
  grid-area: h;
}

.section-two .menu {
  background-color: rgb(223, 6, 6);
  /* grid-column: 1 / span 2; */
  grid-area: m;
}

.section-two .content {
  background-color: rgb(33, 51, 248);
  /* grid-column: 3 / -1; */
  grid-area: c;
}

.section-two .footer {
  background-color: rgb(245 129 20);
  /* grid-column: 1 / span 12; */
  grid-area: f;
}
